## .NET
*.user
*.suo
*.userprefs
*.usertasks
.vs/
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
*.pidb
*.sdf
*.opensdf
*.suo
*.cache
*.ilk
*.log
*.pdb
*.lib
*.exp
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
publish/
